alias: test automation alias
id: "1600000000000"
description: >-
  This automation just a test automation to test the yaml file validation.
initial_state: true
trace:
  stored_traces: 6
variables: 
  testVar: "test"
trigger_variables:
  testVar: "test"
trigger:
  - alias: moving object
    platform: state
    entity_id:
      - binary_sensor.moving_living_room
    from: "off"
    to: "on"
    id: "trigger_1"
  - platform: state
    entity_id:
      - binary_sensor.person_living_room
    from: "off"
    to: "on"
    alias: person dectected
    enabled: false
    variables:
      testVar2: "test_2"
condition:
  - alias: sun is not shining
    condition: sun
    after: sunrise
  - condition: state
    entity_id: light.main_light_living_room
    state: "on"
    alias: light is off
action:
  - alias: turn on light
    service: input_boolean.turn_on
    data: {}
  - alias: is Krista in the room
    condition: state
    entity_id: sensor.whos_in_living_room
    state: Krista
  - alias: turn on music
    service: media_player.media_play
    target:
      entity_id: media_player.living_room
    data: {}
mode: single
max: 1
max_exceeded: warning